:root {
  --color-prim-lightblue: #31c3bd;
  --color-prim-neonblue: #65e9e4;
  --color-neutral-yellow: #f2b137;
  --color-neutral-lemon: #ffc860;
  --color-neutral-yellowshadow: #cc8b13;
  --color-neutral-darkblue: #1f3641;
  --color-neutral-verydarkblue: #1a2a33;
  --color-neutral-lightgrey: #dbe8ed;
  --color-neutral-grey: #a8bfc9;

  --font-size-large: 40px;
  --font-size-medium: 24px;
  --font-size-small: 20px;
  --font-size-extrasmall: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  letter-spacing: 0.88px;
}

.invisible {
  display: none !important;
}

.main_wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.new_game_page,
.game_page {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--color-neutral-verydarkblue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new_game_page {
  z-index: 999;
  color: var(--color-neutral-lightgrey);
}
.new_game_wrap {
  width: 600px;
  padding: 40px;
}
.toggle_wrap {
  display: flex;
  flex-direction: row;
}
.toggle_item {
  width: 50%;
  text-align: center;
}
.toggle_item img {
  fill: var(--color-neutral-lightgrey);
}
.new_game_button {
  width: 100%;
}

/* Game */
.game_board_wrap,
.game_header_wrap,
.score_wrap {
  display: grid;
  width: 540px;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 30px;
}
.game_board_wrap,
.game_header_wrap {
  margin-bottom: 30px;
}
.game_header_wrap {
  height: 64px;
}
.score_wrap {
  height: 80px;
}
.game_board_wrap {
  height: 540px;
}
.player_turn {
  color: var(--color-neutral-grey);
  vertical-align: middle;
  display: flex;
  font-size: var(--font-size-medium);
  justify-content: center;
  align-items: center;
  height: 100%;
}
.player_turn svg {
  margin-right: 10px;
}
.current_player {
  background-color: var(--color-neutral-darkblue);
  border-radius: 20px;
  position: relative;
  box-shadow: #10212a 0 10px;
}
.btn_menu {
  width: 64px;
  height: 100%;
  border-radius: 20px;
  background-color: var(--color-neutral-grey);
  border: none;
  box-shadow: #6b8997 0 10px;
}

/* game board */

.board_block {
  background-color: var(--color-neutral-darkblue);
  border-radius: 20px;
  position: relative;
  box-shadow: #10212a 0 10px;
}

.board_block img {
  position: absolute;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.board_block.clicked {
  pointer-events: none;
}

/* footer */

.score_block {
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.score_block:nth-of-type(1) {
  background-color: var(--color-prim-lightblue);
}
.score_block:nth-of-type(2) {
  background-color: var(--color-neutral-grey);
}
.score_block:nth-of-type(3) {
  background-color: var(--color-neutral-yellow);
}
.score_title {
  font-size: var(--font-size-extrasmall);
  font-weight: 500;
}
.score {
  font-size: var(--font-size-medium);
  font-weight: 700;
}

.reset_page,
.result_page {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.reset_page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.overlay_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-neutral-darkblue);
  height: 300px;
  gap: 30px 0;
}

.title_big {
  font-size: var(--font-size-large);
  letter-spacing: 2.5px;
}
.text_color_grey {
  color: var(--color-neutral-grey);
}

.buttons_wrap {
  display: flex;
  gap: 20px;
}
.buttons_wrap button {
  border-radius: 16px;
  padding: 16px 17px;
  border: none;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
}
.btn_quit {
  background-color: var(--color-neutral-grey);
  box-shadow: #6b8997 0 10px;
}
.btn_reset,
.btn_next {
  background-color: var(--color-neutral-yellow);
  box-shadow: #cc8b13 0 10px;
}
